.fab-bottom-right {
  position: absolute;
  right: 20px;
  bottom: 0px;
  margin-bottom: 47px;
}
.fab-toolbar-bottom-right {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 100%;
}
.md-fab-toolbar.md-right md-fab-trigger {
  right: 20px;
}
