<div class="container" style="height: 100%;" layout="column">
  <md-toolbar class="md-whiteframe-z1">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" ng-click="vm.back()">
        <md-icon md-font-set="material-icons">navigate_before</md-icon>
      </md-button>
      <h2>Narrow CMS Admin</h2>
      <span flex></span>
      <md-button ng-click="vm.logout()">logout</md-button>
    </div>
  </md-toolbar>
  <div class="md-padding" flex>
    <md-fab-toolbar class="md-right fab-toolbar-bottom-right">
      <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab">
          <md-icon md-font-set="material-icons">menu</md-icon>
        </md-button>
      </md-fab-trigger>
      <md-toolbar>
        <md-fab-actions class="md-toolbar-tools">
          <md-button ng-click="vm.save()" ng-disabled="!editable.$valid">save</md-button>
          <md-button ng-click="vm.remove()">delete</md-button>
        </md-fab-actions>
      </md-toolbar>
    </md-fab-toolbar>
    <form name="editable" novalidate>
      <md-input-container>
        <label>id</label>
          <input ng-model="vm.editable._id" disabled />
      </md-input-container>
      <md-input-container>
        <label>name</label>
          <input ng-model="vm.editable.name" required />
      </md-input-container>
      <div nc-editable editable="true" value="vm.editable.content"></div>
    </form>
</div>
