<div class="container" style="height: 100%;" layout="column">
  <md-toolbar class="md-whiteframe-z1">
    <div class="md-toolbar-tools">
      <h2>Narrow CMS Admin</h2>
      <span flex></span>
      <md-button ng-click="vm.logout()">logout</md-button>
    </div>
  </md-toolbar>
  <div flex>
    <md-button class="md-fab fab-bottom-right" aria-label="add" ng-click="vm.create()">
      <md-icon md-font-set="material-icons">add</md-icon>
    </md-button>
    <md-tabs md-border-bottom md-selected="vm.tabSelected">
      <md-tab label="editables">
        <md-content>
          <md-list>
            <md-list-item class="md-2-line" ng-repeat="editable in vm.editables" ng-click="vm.editEditable(editable)">
              <div class="md-list-item-text">
                <h3>{{ editable.name }}</h3>
                <p>{{ editable._id }}</p>
              </div>
              <md-divider ng-if="! $last"></md-divider>
            </md-list-item>
          </md-list>
        </md-content>
      </md-tab>
      <md-tab label="users">
        <md-content>
          <md-list>
            <md-list-item ng-repeat="user in vm.users" ng-click="vm.editUser(user)">
              <div class="md-list-item-text">
                <p>{{ user.username }}</p>
              </div>
              <md-divider ng-if="! $last"></md-divider>
            </md-list-item>
          </md-list>
        </md-content>
      </md-tab>
    </md-tabs>
  </div>
</div>
