<div class="container" style="height: 100%;" layout="column">
  <md-button class="md-fab fab-bottom-right" aria-label="add" ng-show="user.$valid" ng-click="vm.save()">
    <md-icon md-font-set="material-icons">done</md-icon>
  </md-button>
  <md-toolbar class="md-whiteframe-z1">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" ng-click="vm.back()">
        <md-icon md-font-set="material-icons">navigate_before</md-icon>
      </md-button>
      <h2>Narrow CMS Admin</h2>
      <span flex></span>
      <md-button ng-click="vm.logout()">logout</md-button>
    </div>
  </md-toolbar>
  <div class="md-padding" flex>
    <form name="user" novalidate>
      <md-input-container>
        <label>username</label>
          <input ng-model="vm.user.username" required/>
      </md-input-container>
      <md-input-container>
        <label>password</label>
          <input ng-model="vm.user.password" required/>
      </md-input-container>
    </form>
  </div>
</div>
